useDynLib(cppRouting, .registration=TRUE)
export(get_distance_matrix)
export(get_distance_pair)
export(get_isochrone)
export(get_multi_paths)
export(get_path_pair)
export(makegraph)
export(to_df)
export(cpp_simplify)
export(get_detour)
export(cpp_contract)
importFrom(Rcpp, evalCpp)
importFrom("stats", "setNames")
importFrom("utils", "stack")